body{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 2, 0.863);
}
header{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.card{
    height: 350px;
    width: 200px;
    box-shadow: 2px 2px 4px rgb(59, 58, 58),
                -2px -2px 4px rgb(59, 58, 58);
    border-radius: 20px;
    background-color: rgb(237, 237, 156);
    transition: 0.5s;
    
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: grab;
}
.verh{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.175);
    position: sticky;
    backdrop-filter: blur(5px);
    z-index: 10;
}
.card:hover{
    transform: translateY(-5px)
}
.kup{
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(59, 58, 58),
                -2px -2px 4px rgb(59, 58, 58);
    background-color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
    margin-right: 10px;
    background-color: rgb(248, 226, 187);   
}
.cart{
    display: flex;
    margin-left: 90%;
    
}
.minions{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size:50px;
}
.cart-kar5{
    margin-top: 10px;
}
.cart-kar4{
    height: 200px;
    width: 200px;
    margin-left: 3px;
}

.price{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.cart-kar3{
    width: 130px;
}
.cart-kar2{
    width: 150px;
}
.cart-kar1{
    margin-top: -40px;
}
.opis{
    background-color: rgb(244, 255, 120);
    padding-left: 10px;
    height: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    border: 1px solid;
    
}
.kup:hover{
    background-color: rgb(37, 226, 37);
}
.reset{
    background-color: rgb(244, 255, 120);
    border: 1px solid;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.reset:hover{
    background-color: rgb(254, 33, 33);
}
.lin{
    margin-top: 80px;
}
.pod{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    font-size: 15px;
    
}
.tel{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    font-size: 15px;
}
.opis1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}
.opis2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 10px;
}
.opis3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 17px;
}
.opis4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 5px;
}
.opis5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 28px;
}
.log{
    background-color:rgb(255, 234, 0);
    padding: 10px;
    border: 1px solid rgb(255, 255, 67);
    margin: 5px;

}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.ybut{
    display:grid;
    grid-template-columns: minmax(100px, 200px);
    margin: 10px;
}
.all{
    display:flex;
    height: fit-content ;
    
}
.dropcart{
    width: 150px;
    height: 60px;
    border: 2px, dashed #ccc;
    text-align: center;
    
}
